@import '~bootstrap/scss/bootstrap';




  // transizione descizione
.transizione {
    opacity: 0;
    animation-name: comparsa;
    animation-duration: 2s;
}


@keyframes comparsa {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }